p, h1 {
    font-family: "SF Pro Display", serif;

}

.LandingPage-top {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 125px;
    font-weight: 100;
    background-color: #226260;
    color: white;
}
.LandingPage-main {
    margin-top: 50px;
}

.LandingPage-main hr {
    width: 50%;
}

.cards-background {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 400px;
    max-height: 700px;
    align-items: center;
}

.cards-background .cards {
    width: 15%;
    height: 300px;
    background-color: white;
    box-shadow: 0 0 10px #000;
    display: flex;
    align-items: center;
    transition: all ease-in-out 0.5s;
}
.cards .image {
    width: 200px;
    height: 200px;
    background-image: url("/src/assets/icons/red-cloth-icon.png");
    background-size: 175px;
    background-repeat: no-repeat;
    background-position: center;
}
.cards:hover {
    transform: scale(2);
    transition: transform ease 0.3s;
}
.cards:first-child:hover {
    transform: translateX(70%) scale(2);
}
.cards:last-child:hover {
    transform: translateX(-70%) scale(2);
}
.cards:hover .image {
    position: absolute;
    transition: position, background-size linear 1s;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/icons/rotate-cloth.gif");
    background-size: 600px;
}
.LandingPage-location {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.Location-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.location-title {
    font-weight: 200;
    font-size: 60px;
    color: #000;
}
.content {
    font-size: 20px;
}
.map {
    background: url("/src/assets/icons/red-cloth-icon.png") center no-repeat;
    background-size: 400px;
    width: 400px;
    height: 460px;
}
/*.website-text {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
/*}*/
.website-icons {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.instagram, .linkedin, .twitter, .facebook {
    width: 50px;
    height: 50px;
    transition: background-image linear 0.25s;
    border-radius: 50%;
}
.instagram:hover, .linkedin:hover, .twitter:hover, .facebook:hover {
    transform: scale(1.2);
    transition: transform ease-in-out 0.25s;
    cursor: pointer;
    border-radius: 50%;
}
.instagram:hover {
    background-image: url("/src/assets/icons/instagram-black.png");
    transition: background-image linear 0.25s;
}
.instagram {
    background: url("/src/assets/icons/instagram.webp") no-repeat;
    background-size: 50px;
}
.linkedin {
    background: url("/src/assets/icons/linkedin.png") no-repeat;
    background-size: 50px;
}
.linkedin:hover {
    background-image: url("/src/assets/icons/linkedin-black.png");
    transition: background-image linear 0.25s;
}
.twitter {
    background: url("/src/assets/icons/twitter.png") no-repeat;
    background-size: 50px;
}
.twitter:hover {
    background-image: url("/src/assets/icons/twitter-black.png");
    transition: background-image linear 0.25s;
}
.facebook {
    background: url("/src/assets/icons/facebook.png") no-repeat;
    background-size: 50px;
}
.facebook:hover {
    background-image: url("/src/assets/icons/facebook-black.png");
    transition: background-image linear 0.25s;
}